.container{
    height: 400px;
    border:2px solid black;
    display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
    align-content: flex-start;
    
}
.box{
    border:1px solid brown;
    background-color: aqua;
    flex-basis: 100px;
}
#box1{
     align-self: flex-start;
    
}
#box2{
    align-self: stretch;
}